.body {
  font-family: 'Inconsolata', monospace;
}

.image {
  margin-top: 10px;
}

.section {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  min-height: 100vh;
}


.tabs {
  min-height: 100px;
  margin-top: 10px;
}

@media screen and (max-width: 991px) {
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 40px 20px;
  }

  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .hero-overlay {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 479px) {
  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-logo-link {
    height: 60px;
  }

  .footer-image {
    width: 85%;
    margin-bottom: 20px;
  }

  .footer-heading {
    margin-top: 20px;
  }

  .centered-container {
    text-align: left;
  }
}

@font-face {
  font-family: 'Helvetica Now Bold';
  src: url('../fonts/HelveticaNowMicro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Now Bold Italic';
  src: url('../fonts/HelveticaNowMicro-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Now Extra Bold Italic';
  src: url('../fonts/HelveticaNowMicro-ExtBdIta.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Now Extra Light Italic';
  src: url('../fonts/HelveticaNowMicro-ExtLtIta.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Now Extra Light';
  src: url('../fonts/HelveticaNowMicro-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Now Micro Medium';
  src: url('../fonts/HelveticaNowMicro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Now Regular';
  src: url('../fonts/HelveticaNowMicro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Now Extra Bold';
  src: url('../fonts/HelveticaNowMicro-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Now Light';
  src: url('../fonts/HelveticaNowMicro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}